@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

:root {
  --white: #ffffff;
  --pink: #e54065;
  --background-color: #f4f5f9;
  --border-color: #cfd2dc;
  --text-color: #636363;
  --filter-button-color: #e1e4ea;
  --read-background-color: #f2f2f2;
}

body {
  background-color: var(--background-color);
}

.App {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
